{% extends 'base.html' %}
{% block content %}
{% load static %}

            <!-- Header Start -->
            <div class="container-fluid bg-breadcrumb">
                <div class="container text-center py-5" style="max-width: 900px;">
                    <h4 class="text-white display-4 mb-4 wow">Our Services</h4>
                    <ol class="breadcrumb d-flex justify-content-center mb-0 wow ">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active text-primary">Service</li>
                    </ol>    
                </div>
            </div>
            <!-- Header End -->
        </div>
        <!-- Navbar & Hero End -->

           <br>

                    <!-- Services Start -->
            <div class="container-fluid service py-5">
                <div class="container py-5">
                    <div class="text-center mx-auto pb-5 wow" style="max-width: 800px;">
                        <h4 class="text-primary">Our Services</h4>
                        <h1 class="display-5 mb-4">What We Do Best</h1>
                        <p class="mb-0">We provide professional project planning, consultancy, training and development solutions to empower organizations, companies, and individuals to achieve sustainable success.</p>
                    </div>
                    <div class="row g-4">
                                {% for i in service %}
                        <!-- Project Planning -->
                        <div class="col-md-6 col-lg-4 wow">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="{{i.image}}" class="img-fluid rounded-top w-100" alt="Project Planning">
                                </div>
                                <div class="rounded-bottom p-4">
                                    <a href="#" class="h4 d-inline-block mb-3">{{i.title}}</a>
                                    <p>{{i.description}}</p>
                                </div>
                            </div>
                        </div>
                   {% endfor %}
                      
        

                    </div>
                </div>
            </div>
            <!-- Services End -->
{% include 'testimonial_section.html' %}
{% endblock %}