{% extends 'base.html' %}
{% block content %}
{% load static %}

            <!-- Header Start -->
            <div class="container-fluid bg-breadcrumb">
                <div class="container text-center py-5" style="max-width: 900px;">
                    <h4 class="text-white display-4 mb-4 wow">Our Team</h4>
                    <ol class="breadcrumb d-flex justify-content-center mb-0 wow">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active text-primary">Team</li>
                    </ol>    
                </div>
            </div>
            <!-- Header End -->
        </div>
        <!-- Navbar & Hero End -->
           <br>

    <!-- Team Start -->
        <div class="container-fluid team pb-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow" style="max-width: 800px;">
                    <h4 class="text-primary">Our Team</h4>
                    <h1 class="display-5 mb-4">Meet Our Expert Advisers</h1>
                    <p class="mb-0">At Development Project Planning Solution Limited, we believe that the success of every project depends on the people behind it. Our team is made up of experienced professionals, certified consultants, and creative thinkers who are passionate about delivering innovative and sustainable solutions. With diverse backgrounds in project management, business development, and capacity building, our advisers work closely with clients to provide guidance, mentorship, and strategic insights that drive lasting impact.
                    </p>
                </div>
                    <div class="row g-4">
                {% for member in team %}
                <div class="col-md-6 col-lg-6 col-xl-3 wow">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{{ member.image }}" class="img-fluid" alt="{{ member.Full_name }}">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">{{ member.Full_name }}</h4>
                            <p class="mb-0">{{ member.designation }}</p>
                        </div>
                        <div class="team-icon">
                            {% if member.facebook_link %}
                                <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="{{ member.facebook_link }}"><i class="fab fa-facebook-f"></i></a>
                            {% else %}
                                <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if member.twitter_link %}
                                <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="{{ member.twitter_link }}"><i class="fab fa-twitter"></i></a>
                            {% else %}
                                <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.x.com"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if member.instagram_link %}
                                <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="{{ member.instagram_link }}"><i class="fab fa-instagram"></i></a>
                            {% else %}
                                <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


            </div>
        </div>
        <!-- Team End -->

        {% endblock %}